<section class="login flex justify-center pt-24 ">
    <div class="w-full max-w-xs">

        <form method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <% if(messages.error) { %>
                <span class="text-red-500 text-sm">
                    <%= messages.error %>
                </span>
                <% } %>

                    <div class="mb-4">
                        <input
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            type="text" value="<%= pizza._id %>" placeholder="Enter pizza name" disabled>
                    </div>

                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                            Name
                        </label>
                        <input
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="name" type="text" name="name" value="<%= pizza.name %>" placeholder="Enter pizza name"
                            disabled>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="image">
                            Image
                        </label>
                        <img src="/img/<%= pizza.image %>" class="h-60 mx-auto shadow border rounded w-full py-2 px-3"
                            alt="image">
                    </div>

                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="price">
                            Price
                        </label>
                        <input
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="price" type="number" name="price" value="<%= pizza.price %>"
                            placeholder="Enter pizza price">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                            Size
                        </label>

                        <select name="size" id="size" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option selected disabled>Select One</option>
                            <option value="small">small</option>
                            <option value="medium">medium</option>
                            <option value="large">large</option>
                        </select>

                    </div>
                    <div class="flex items-center justify-between">
                        <button
                            class="btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit">
                            Edit Pizza
                        </button>

                    </div>
        </form>
    </div>
</section>
